workflows/cargar-documento-nuevo.json
{
  "name": "Cargar Documento Nuevo - BimBam Buy",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1600,
        -176
      ],
      "id": "28daa13f-3f92-46e6-8203-f63749d30c42",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"url\": \"https://raw.githubusercontent.com/jorgegomezpacheco/agente-ia-rag/main/docs/documentacion-empresa/contacto-soporte.pdf\",\n  \"doc_id\": \"contacto-soporte\",\n  \"categoria\": \"contacto-soporte\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        -176
      ],
      "id": "f9edb6dc-4e2f-4977-baf0-6fc181280115",
      "name": "Datos del Documento Nuevo"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1184,
        -176
      ],
      "id": "6d93040c-2c43-4871-bce1-611a350f69e1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "agente-ia-rag",
          "mode": "list",
          "cachedResultName": "agente-ia-rag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -352,
        -304
      ],
      "id": "fa44bdc3-db8b-414f-a62a-651ec25e3e90",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YvtstHVW5fOXXNWd",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        -352,
        -112
      ],
      "id": "c327821e-0377-4792-a099-fabced024ed7",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "bsfRiLt8qj3wFq6L",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=doc_id",
                "value": "={{ $('Datos del Documento Nuevo').item.json.doc_id }}"
              },
              {
                "name": "categoria",
                "value": "={{ $('Datos del Documento Nuevo').item.json.categoria }}"
              },
              {
                "name": "source",
                "value": "={{ $('Datos del Documento Nuevo').item.json.url }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -176,
        -144
      ],
      "id": "bc53927f-2d3a-41b4-85a7-235927aa3f62",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 150,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -48,
        0
      ],
      "id": "c9afce4b-9d07-4d37-9d9c-cb8aca028f13",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -816,
        -176
      ],
      "id": "74741705-c442-4cbd-97ef-c12b7ffe75ac",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  let text = item.json.text || '';\n  text = text\n    .replace(/<br\\s*\\/?>/gi, '\\n')   // reemplaza <br> o <br/> por salto de línea real\n    .replace(/\\\\n/g, '\\n')            // por si quedó \"\\n\" como texto literal\n    .replace(/[ \\t]+\\n/g, '\\n')       // limpia espacios antes de saltos de línea\n    .replace(/\\n{3,}/g, '\\n\\n');      // evita saltos de línea excesivos\n  item.json.text = text;\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        -176
      ],
      "id": "85449d35-4e7a-4d8e-b951-4fcbcd09f469",
      "name": "Code JS limpieza"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  item.binary.data.mimeType = 'application/pdf';\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        -176
      ],
      "id": "0a59f9ef-43c7-4f71-9c57-125baba5c463",
      "name": "Code JS Type Pdf"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Datos del Documento Nuevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos del Documento Nuevo": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code JS Type Pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code JS limpieza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code JS limpieza": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code JS Type Pdf": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4a861f06-0c06-4985-9b72-796d0da6ea1f",
  "meta": {
    "instanceId": "964d10f68004bc72323e7156e4be9395db4db6821c043b67f0e2d34d0e1a656f"
  },
  "nodeGroups": [],
  "id": "WUe6UWFO7il1ebwo",
  "tags": []
}